html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Thin.eot");
  src: url("../fonts/PFAgoraSansPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSansPro-Thin.woff") format("woff"), url("../fonts/PFAgoraSansPro-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Light.eot");
  src: url("../fonts/PFAgoraSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSansPro-Light.woff") format("woff"), url("../fonts/PFAgoraSansPro-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Medium.eot");
  src: url("../fonts/PFAgoraSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSansPro-Medium.woff") format("woff"), url("../fonts/PFAgoraSansPro-Medium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../fonts/PFAgoraSansPro-Bold.eot");
  src: url("../fonts/PFAgoraSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSansPro-Bold.woff") format("woff"), url("../fonts/PFAgoraSansPro-Bold.ttf") format("truetype");
  font-weight: 500;
}
.main-bg {
  background-color: rgb(246, 246, 217);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.line {
  height: 2px;
  background-color: black;
  text-align: center;
  margin: 0 15px;
}

.header {
  font-family: "PFAgoraSansPro";
  font-weight: 300;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
.header__container__pages__item {
  padding-right: 50px;
  color: black;
  text-decoration: none;
  letter-spacing: 5%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main {
  font-family: "PFAgoraSansPro";
  font-weight: 500;
}
.main__container {
  display: flex;
  padding: 19px 15px;
  gap: 8px;
  justify-content: flex-start;
}
.main__logo:last-child {
  animation: spin 2s ease-in-out infinite;
}
.main__title {
  padding-left: 15px;
  width: 820px;
  font-size: 64px;
  white-space: pre-wrap;
  padding-bottom: 150px;
}

.portfolio {
  font-family: "PFAgoraSansPro";
  font-weight: 300;
  position: relative;
}
.portfolio__title {
  padding-top: 40px;
  padding-left: 15px;
}
.portfolio__link {
  position: absolute;
  right: 253px;
  margin-top: 30px;
  color: rgb(70, 70, 70);
}
.portfolio__project {
  padding-top: 143px;
  padding-bottom: 60px;
}
.portfolio__images {
  margin: auto 15px;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  gap: 20px;
}
.portfolio__image {
  height: 70vh;
}
.portfolio__info {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 15px;
}
.portfolio__project-name {
  word-spacing: 20px;
}
.portfolio__project-slogan {
  margin-left: 69px;
}
.portfolio__description {
  width: 316px;
  margin-right: 30px;
}

.stats {
  font-family: "PFAgoraSansPro";
  font-weight: 400;
  padding-left: 15px;
  padding-top: 20px;
  position: relative;
}
.stats__container {
  display: flex;
  justify-content: flex-start;
  gap: 25vw;
}
.stats__slogan {
  font-size: 30px;
  width: 325px;
}
.stats__num {
  font-size: 105px;
  padding-bottom: 25px;
}
.stats__item {
  padding-bottom: 20px;
}
.stats__line {
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  right: 15px;
}
.stats__link {
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin-top: 73px;
  text-align: left;
  margin-bottom: 30px;
  color: rgb(70, 70, 70);
}

.contacts {
  font-family: "PFAgoraSansPro";
  font-weight: 300;
  color: black;
}
.contacts .line {
  margin: auto 30px;
}
.contacts__title {
  padding: 34px 30px;
  font-size: 37px;
}
.contacts__container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 30px;
}
.contacts__logo {
  height: 70px;
}
.contacts__logo:last-child {
  animation: spin 2s ease-in-out infinite;
}
.contacts__vector-logo {
  margin: auto 20px;
  width: 97%;
  padding-bottom: 15px;
}
.contacts .info {
  padding-bottom: 10px;
}
.contacts__item {
  width: 201px;
  font-size: 20px;
}
.contacts .title {
  padding-bottom: 30px;
}
.contacts .contacts {
  grid-row: 2;
  grid-column: 2;
}
.contacts .office {
  grid-row: 1;
  grid-column: 2;
}
.contacts .social {
  grid-row: 1;
  grid-column: 3;
}/*# sourceMappingURL=style.css.map */