   .contacts{
      font-family: "PFAgoraSansPro";
      font-weight: 300;
      color: black;
      .line{
         margin: auto 30px;
      }

      &__title {
         padding: 34px 30px;
         font-size: 37px;
      }

      &__container {
         padding-top: 50px;
         display: grid;

         grid-template-columns: 4fr 3fr 1fr;
         grid-template-rows: 1fr 1fr;
         padding-left: 30px;
      }

      &__logo{
         height: 70px;
         
         
         &:last-child{
            animation: spin 2s ease-in-out infinite;
         }
      }



      &__vector-logo{
         
         margin: auto 20px;
         width: 97%;
         padding-bottom: 15px;

      }

      .info {
         padding-bottom: 10px;
      }

      &__item {
         
         width: 201px;
         font-size: 20px;
         
      }

      .title{
         padding-bottom: 30px;
      }

      .contacts {
         grid-row: 2;
         grid-column: 2;
      }

      .office {
         grid-row: 1;
         grid-column: 2;
      }
      .social {
         grid-row: 1;
         grid-column: 3;
      }
   }
   
