@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

.header {
   font-family: "PFAgoraSansPro";
   font-weight: 300;
   color: black;

   // Основные элементы
   &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
   }

   &__logo-link {
      display: flex;
      align-items: center;
      line-height: 0;
      text-decoration: none;
   }

   &__logo {
      display: block;
   }

   
   &__mobile {
      display: none;
      align-items: start;
   }

   &__mobile-icon {
      width: 25px;
      position: relative;
      
      &:nth-child(2) {
         animation: spin 2s ease-in-out infinite;
      }
   }

   &__mobile-menu-btn {
      color: black;
      text-decoration: none;
      font-size: 20px;
      background: none;
      border: none;
      cursor: pointer;
      margin-left: auto;
      
   }

   
   &__pages {
      display: flex;
   }

   &__pages-page {
      color: black;
      text-decoration: none;
      letter-spacing: 5%;
      margin-right: 15px;
   }

   
   &__mobile-menu {
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: 20px;
      width: fit-content;
      text-align: center;
   }

   &__mobile-menu-page {
      color: black;
      text-decoration: none;
      letter-spacing: 5%;
      margin-bottom: 10px;
   }

   

   
   .hide {
      display: none;
   }

   // Мобильная версия
   @media (max-width: 799px) {
      &__wrapper {
         justify-content: start;
      }

      &__pages {
         display: none;
      }

      &__mobile {
         display: flex;
         align-items: center;
         padding-left: 10px;
         margin-left: 10px;
         gap: 5px;
         width: 100%;
      }

     

      &__mobile-menu-page {
         white-space: nowrap;
         margin-bottom: 15px;
         
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}


.line {
   height: 1px;
   background-color: #000;
}