@keyframes spin {
         0% { transform: rotate(0deg); }
         100% { transform: rotate(360deg); }
}



.header {
   
   font-family: "PFAgoraSansPro";
   font-weight: 300;
   color: black;

   &__hidden{
      display: none;
      
      
   }
   &__menu-bar{
         padding-bottom: 10px;
         display:flex;
         flex-direction: column;
         margin-left: auto;
         margin-right: 15px;
         width: fit-content;
         text-align: center;
         .page {
            margin-bottom: 10px;
            
         }
         
         


      }




   .hide{
      display: none;
      
      
      
   }
   


   &__container{
      display: flex;
      justify-content:space-between;
      padding: 15px 20px;

   }

   &__pages {
         display: flex;
         
      }

   @media (max-width: 799px) {

      &__container{
         justify-content:start;
      
      }

      &__pages{
         display: none;
      }

      &__hidden{
         
         display: flex;
         padding-left: 10px;  
         margin-left: 0;
         
         &__logo{
            
            position: relative;
            padding-right: 1px;
            width: 25px;
            
         }

         &__logo:nth-child(2){
               animation: spin 2s ease-in-out infinite;
            }

         

         &__menu {
            color: black;
            position: absolute;
            text-decoration: none;
            right: 15px;
            margin-top: 5px;
            font-size: 20px;
            
            background: none;
            border: none;
            cursor: pointer;
            
            
         }

         

         


      }
      

   }


}

.page{
            color: black;
            text-decoration: none;
            letter-spacing: 5%;
            
         }