.team {

   display:grid;
   grid-template-columns: 1fr 1fr;
   
   margin: 30px 15px 0 15px;
   font-size: 20px;
   font-weight: 300;
   margin-bottom: 100px;


   &__title{
      font-size: 64px;
      margin-left: 15px;
      grid-column: 1;
      margin-bottom: 20px;
   }

   &__mates-container{
         display:grid;
         grid-template-columns: 25vw 25vw;
         gap:20px;
   }

   &__img{
      width: 100%;
      
      margin-bottom: 17px;
   }

   &__function{
      color:grey;
      margin-bottom: 10px;
      width: 70%;
   }

   &__name{
      margin-bottom: 10px;
      
   }

   &__line{
      grid-column: 2;
      height: 1px;
      background-color: black;
      width: 100%;
      margin: 41px auto;
   }

   &__mates{
      grid-column: 2;
      display:grid;
      grid-template-columns: 1fr 1fr;
      gap:20px;
         
         
   }



   @media (max-width: 799px) {
      display: block;
      &__mates-container{
         display: block;
      }
   }
}